body{
   overflow-y: scroll;
}

#msg{
    width: 100%;
    position: fixed;
    height: 50px;
    border-radius: 5px;
    padding: 12px;
    z-index: 2;
    text-align: center;
    color: white;
    display: none;
}

#graph{
    width:100%;
}

.pacient>div *{
    width:100%;
    margin-bottom: 5px;
}

td{
    cursor:pointer;
}

tr.selected{
    background: steelblue !important;
    color: white;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line.limit{stroke: red;}
.line.avg{stroke: gray;}